* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Goldplay Alt", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: "Varela Round";
}

:root {
  --circleLength: 124.852px;
  --default-dur: 3s;
}

ul {
  list-style-type: none;
}

.gradient-fade {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(white));
  background: linear-gradient(0deg, transparent 0%, white 100%);
}

main.site-demo-main {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slldz-cont {
  width: 100%;
  position: relative;
}

#slldz-cont * {
  -webkit-transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slldz-cont {
  max-width: 680px;
  margin: 0 auto;
  padding-top: 72px;
  padding-right: 48px;
  margin-top: 72px;
}

.slldz-list {
  height: 600px;
  position: relative;
}

.slldz-item {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.slldz-item--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slldz-item__content {
  width: 100%;
  padding: 12px;
  position: relative;
}

.slldz-item__dp-cont {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  left: 0;
  -webkit-transform: translate(50%, -150%);
          transform: translate(50%, -150%);
}

.slldz-item__dp {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
}

.slldz-item__text {
  padding-left: 12px;
  font-size: xx-large;
}

.slldz-item__text + * {
  margin-top: 24px;
}

.slldz-item__details {
  width: 100%;
  position: relative;
  padding-top: 24px;
  min-height: 120px;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
}

.slldz-item__author, .slldz-item__author + * {
  position: relative;
  padding-left: 12px;
}

.slldz-item__company-dp-cont {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.slldz-item__company-dp {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  opacity: 0.3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: blur(12px);
          filter: blur(12px);
}

@media screen and (min-width: 768px) {
  .slldz-item__content {
    padding-left: 72px;
  }
  .slldz-item__dp-cont {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.slldz-indicators {
  position: absolute;
  right: 0;
  top: 72px;
  margin-right: 12px;
}

.slldz-indicators__indicator {
  cursor: pointer;
}

.slldz-indicators__indicator:hover, .slldz-indicators__indicator:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slldz-indicators__indicator:active {
  cursor: wait;
  -webkit-transform: scale(0.91);
          transform: scale(0.91);
}

.slldz-indicators__indicator--active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .slldz-indicators {
    margin-right: unset;
  }
}

.slldz-indicator {
  margin: 12px 0;
}

.slldz-indicator--active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slldz-indicator--active .slldz-indicator__circle--2 {
  stroke-dashoffset: 0px;
  -webkit-transition-duration: var(--default-dur) !important;
          transition-duration: var(--default-dur) !important;
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
  stroke-linecap: round;
}

.slldz-indicator__svg {
  width: 40px;
  height: 40px;
  pointer-events: none;
  vertical-align: middle;
}

.slldz-indicator__circle {
  fill: none;
  stroke: #333;
  stroke-width: 8px;
}

.slldz-indicator__circle--1 {
  stroke-width: 4px;
}

.slldz-indicator__circle--2 {
  stroke-dasharray: var(--circleLength);
  stroke-dashoffset: var(--circleLength);
  stroke: #333;
}
/*# sourceMappingURL=style.css.map */