$defval : 12px ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Goldplay Alt", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Varela Round";
}

:root{
    //default circle length
    --circleLength: 124.852px;
    --default-dur: 3s;
}

ul{
    list-style-type: none;
}

.gradient-fade{
    background: linear-gradient(0deg, transparent 0%, rgba(255, 255, 255, 1) 100%);
}

main.site-demo-main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
}

#slldz-cont{
    width: 100%;
    position: relative;

    *{
        transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.slldz-cont{
    max-width: 680px; 
    margin: 0 auto;
    padding-top: 72px;
    padding-right: $defval * 4;
    margin-top: 72px;
}

.slldz-list{
    height: 600px;
    position: relative;
}

.slldz-item{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(12px);


    &--active{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    &__content{
        width: 100%;
        padding: $defval;
        position: relative;
    }

    &__dp-cont{
        width: 50px;
        height: 50px;
        border-radius: 30px;
        overflow: hidden;
        position: absolute;
        left: 0;
        transform: translate(50%, -150%);
    }

    &__dp{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }

    &__text{
        padding-left: $defval;
        font-size: xx-large;

        // this affects every element after this element
        // courtesy: Kevin Powell
        & + *{
            margin-top: $defval * 2;
        }
    }

    &__details{
        width: 100%;
        position: relative;
        padding-top: $defval * 2;
        min-height: $defval * 10;
        overflow: hidden;
        border-radius: 0 0 $defval  $defval ;
    }

    &__author{
        &, & + *{
            position: relative;
            padding-left: $defval;
        }
    }

    // &__company{

    // }

    &__company-dp-cont{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
    }

    &__company-dp{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        opacity: 0.3;
        transform: translateY(-50%);
        filter: blur( $defval );
    }

    @media screen and (min-width: 768px){
        &__content{
            padding-left: $defval * 6;
        }
        &__dp-cont{
            transform: translate(0, 0);
        }
    }
}

.slldz-indicators{
    position: absolute;
    right: 0;
    top: $defval * 6;
    margin-right: $defval;

    &__indicator{
        cursor: pointer;

        &:hover, &:focus{
            transform: scale(1.2);
        }
        
        &:active{
            cursor: wait;
            transform: scale(0.91);
        }
        
        &--active{
            transform: scale(1.2);
        }
    }

    @media screen and (min-width: 768px){
        margin-right: unset;
    }

}

.slldz-indicator{
    margin: $defval 0;

    &--active{
        transform: scale(1.2);

        .slldz-indicator__circle--2{
            stroke-dashoffset: 0px;
            transition-duration: var(--default-dur)!important;
            transition-timing-function: linear!important;
            stroke-linecap: round;
        }
    }

    &__svg{
        width: 40px;
        height: 40px;
        pointer-events: none;
        vertical-align: middle;
    }

    &__circle{
        fill: none;
        stroke: #333;
        stroke-width: 8px;

        &--1{
            // opacity: 0.5;
            stroke-width: 4px;
        }

        &--2{
            stroke-dasharray: var(--circleLength);
            stroke-dashoffset: var(--circleLength);
            stroke: #333;
        }
    }
}


